@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
  --blue: #3892ff;
  --dark-gray: #555;
  --light-gray: #c0c3c4;
}

h1,
h2,
h3,
h4,
p,
span,
button,
a,
select,
input {
  font-family: "Quicksand"; /* stylelint-disable-line font-family-no-missing-generic-family-keyword */
}

.content-align {
  width: 80%;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* ! NAVBAR */

nav {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

nav h1,
nav .links {
  display: inline-block;
  vertical-align: middle;
}

.links a {
  padding-left: 40px;
  color: var(--dark-gray);
  text-decoration: none;
}

nav img {
  width: 40px;
  filter: invert(57%) sepia(72%) saturate(4466%) hue-rotate(197deg) brightness(104%) contrast(101%);
  padding: 8px;
  border-radius: 20px;
  border: 2px solid;
  float: right;
}

nav div h1 {
  font-size: 2rem;
  color: var(--blue);
  font-weight: bolder;
}

/* ! FORM */

form {
  border-top: 1px solid #ccc;
  background-color: #fff;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 20px 0;
}

form h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark-gray);
}

.main-form {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

form input {
  width: 28%;
  padding: 7px 12px;
  border: 2px solid var(--light-gray);
  border-radius: 5px;
  font-size: 1rem;
}

input::placeholder {
  color: var(--light-gray);
}

form select {
  width: 18%;
  border: 2px solid var(--light-gray);
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 12px;
}

form button {
  width: 12%;
  color: white;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

/* ! BOOK LIST */

.booklist {
  height: 80vh;
  overflow-y: auto;
  padding: 20px 0 80px 0;
}

/* ! BOOK ITEM */

.book-item {
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 20px 0;
  padding: 20px;
}

::-webkit-scrollbar {
  display: none;
}
